[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
numpy = "*"
jupyter = "*"
visdom = "*"
tensorflow = "*"
baselines = {editable = true,git = "https://github.com/openai/baselines.git"}
pytorch-a2c-ppo-acktr-gail = {editable = true,git = "https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail.git"}

[requires]
python_version = "3.6"
